USE [master]
GO
/****** Object:  Database [dbERP]    Script Date: 8/2/2025 8:08:20 PM ******/
CREATE DATABASE [dbERP]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbERP', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\dbERP.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'dbERP_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\dbERP_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbERP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbERP]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 8/2/2025 8:08:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Employee](
	[Name] [varchar](150) NULL,
	[EmployeeEmail] [varchar](50) NULL,
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeMobileNo] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Table_1]    Script Date: 8/2/2025 8:08:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Table_1](
	[Name] [varchar](150) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([Name], [EmployeeEmail], [EmployeeID], [EmployeeMobileNo]) VALUES (N'Humayra', N'humayra@gmail.com', 1, NULL)
INSERT [dbo].[Employee] ([Name], [EmployeeEmail], [EmployeeID], [EmployeeMobileNo]) VALUES (N'jim', N'jim@gmail.com', 5, NULL)
INSERT [dbo].[Employee] ([Name], [EmployeeEmail], [EmployeeID], [EmployeeMobileNo]) VALUES (N'Zaman', N'zaman@gmail.com', 6, NULL)
SET IDENTITY_INSERT [dbo].[Employee] OFF
USE [master]
GO
